* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --theme: #f56f21;
    --base: calc(1vw + 1vh);
    --scroll: 0;
}
html {
    overflow-x: hidden;
}
body {
    font-family: "GenRyuMin2 TW", system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    background: #201814 url(img/background.svg);
    background-size: 7rem;
    color: #fff;
    overflow-x: hidden;
    font-size: 1.3rem;
    line-height: 1.5;
}

a {
    color: #fff;
    transition: color 0.3s ease-out;
}

a:hover {
    color: var(--theme);
}

header {
    text-align: center;
    position: relative;
    padding-bottom: 17vh;
    min-height: 100vh; /* browser support */
    min-height: 100svh;
}

img {
    display: block;
}

header .img {
    /* width: calc(9 * var(--base)); */
    height: calc(11 * var(--base));
    background-color: #918375;
    position: absolute;
    z-index: -1;
    transition: top 1s ease-out, left 1s ease-out, right 1s ease-out,
        bottom 1s ease-out, opacity 1s ease-out, transform 0s;
    opacity: 0;
}

header .img.ed {
    opacity: 1;
}

#img1 {
    top: 3%;
    left: 20%;
    transform: translate(-50%, calc(-50% - var(--scroll) * 0.1px))
        rotate(-10deg);
}

#img1.ed {
    top: 6%;
    left: 25%;
}

#img2 {
    bottom: 10%;
    left: 4%;
    transform: translate(-50%, calc(0% - var(--scroll) * 0.1px)) rotate(-10deg);
    transition: top 1.3s ease-out, left 1.3s ease-out, right 1.3s ease-out,
        bottom 1.3s ease-out, opacity 1.3s ease-out, transform 0s;
}

#img2.ed {
    bottom: 15%;
    left: 8%;
}

#img3 {
    top: 50%;
    right: -10%;
    transform: rotate(10deg) translate(0, calc(-50% - var(--scroll) * 0.3px));
}

#img3.ed {
    top: 45%;
    right: -2%;
}

#logo {
    padding-top: 25vh;
    margin: 0 auto 2rem;
    width: calc(5 * var(--base));
    transition-duration: 0.3s;
}

#soon {
    transition-duration: 2s;
}

h1 {
    font-size: calc(2.9 * var(--base));
    margin-bottom: 5vh;
    transform: rotate(0.9deg);
    line-height: 1.3;
    transition-duration: 1s;
}

h1 span {
    display: inline-block;
}

#year {
    display: block;
    transform: rotate(-3deg);
    color: var(--theme);
}

#marquee {
    margin-top: 15vh;
    --width: 20rem;
    --height: calc(var(--width) * 91 / 431);
    width: calc(100vw + var(--width));
    height: var(--height);
    background: url(img/marquee.webp);
    background-size: var(--width) auto;
    transform: rotate(-1.799deg);
    animation: marquee 9s linear infinite;
}

@keyframes marquee {
    to {
        transform: rotate(-1.799deg) translateX(calc(var(--width) * -1));
    }
}

section {
    margin: auto;
    max-width: 1200px;
}

section h2 {
    font-size: calc(2.2 * var(--base));
    margin-bottom: 2rem;
}

.about,
.coc,
.intro-content {
    padding-inline: 2rem;
    max-width: 800px;
}

#intro {
    margin-bottom: 8rem;
    text-align: center;
    margin-inline: auto;
    position: relative;
    padding: 2rem;
}

#intro::before {
    content: "";
    display: block;
    width: 300%;
    height: 100%;
    background-color: #000000c2;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: -100vw;
    z-index: -1;
}

#intro .intro-content {
    margin: auto;
}

#intro h2 {
    font-size: 2.5rem;
    margin-block: 1rem;
}

#intro h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.intro {
    position: relative;
}

.intro-img {
    position: absolute;
    top: 65%;
    left: calc(800px + 3rem);
    transform: rotate(5deg)
        translateY(calc(-50% + var(--scroll) * -0.1px + 10vh));
    width: 500px;
    background-color: #fff;
    border: 2rem solid var(--theme);
    padding: 2rem;
}
.intro-img img {
    width: 100%;
    height: 100%;
    background-color: #fff;
    object-fit: cover;
}

figcaption {
    display: block;
    background-color: #fff;
    color: #000;
    margin-top: 1rem;
    margin-bottom: -0.8rem;
}

#about {
    margin-top: 6rem;
}

#about h2 {
    font-size: 1.3em;
    margin-bottom: 0.8rem;
}

h3 {
    font-size: 1.1em;
    margin-bottom: 0.6rem;
    margin-top: 1.5rem;
}

.intro-content p {
    margin-bottom: 1rem;
}

#vlog {
    padding: 2rem;
    margin-top: 5rem;
}

.videos {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 3rem;
    flex-wrap: wrap;
}

.videos iframe {
    width: min(560px, 100%);
    aspect-ratio: 16/9;
}

#about > div {
    padding: 1rem;
    position: relative;
    max-width: 600px;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

#about > div::before {
    content: "";
    display: block;
    width: calc(100% + 4rem);
    height: calc(100% + 4rem);
    background-color: #000;
    position: absolute;
    top: -2rem;
    left: -2rem;
    z-index: -1;
}

#about > div:nth-child(1) {
    transform: rotate(-3deg) translate(-30px, 20px);
    opacity: 0;
    margin-bottom: 2rem;
}

#about > div:nth-child(1).ed {
    transform: rotate(-1.799deg);
    opacity: 1;
}

#about > div:nth-child(2) {
    transform: rotate(3deg) translate(30px, -20px);
    margin-left: auto;
    opacity: 0;
}

#about > div:nth-child(2).ed {
    transform: rotate(1.799deg);
    opacity: 1;
}

footer {
    background-color: #ccb7ad;
    margin-top: 13rem;
    color: #000;
    position: relative;
}

footer a {
    color: #000;
    cursor: pointer;
    transition: scale 0.3s ease-out, color 0.3s ease-out;
}

footer a:hover {
    scale: 1.2;
}

footer::before {
    content: "";
    display: block;
    position: absolute;
    top: -10rem;
    left: 0;
    width: 100%;
    height: 15rem;
    background-size: auto 100%;
    background: url(img/zigzag.svg) repeat-x;
    z-index: -1;
}

footer h3 {
    font-size: 1em;
    margin-bottom: 0.3rem;
}

.footer-container {
    gap: 5rem;
    padding: 4rem 2rem;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.history {
    display: flex;
    flex-wrap: wrap;
}

.history a {
    padding-right: 1rem;
}

.social {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.social img {
    height: 1.75rem;
    width: 1.75rem;
    object-fit: contain;
}

@media (max-width: 1050px) {
    .intro-img {
        position: static;
        transform: rotate(5deg) scale(0.9);
        margin: 4rem auto;
        width: 500px;
        max-width: 100%;
    }
}

@media (max-aspect-ratio: 1/1) {
    body {
        font-size: 1rem;
    }

    #marquee {
        position: absolute;
        bottom: 3rem;
        left: 0;
    }

    #intro h2 {
        font-size: 2rem;
    }

    #img3 {
        bottom: 10%;
        top: auto;
    }

    #img3.ed {
        bottom: 15%;
        top: auto;
    }
    h1 {
        font-size: 2.5rem;
        padding-inline: 1rem;
    }
    h3 {
        font-size: 1.2rem;
    }
    #vlog {
        margin-top: 0rem;
    }
    .intro-img {
        margin-bottom: 2rem;
    }

    .footer-container{
        gap: .5rem;
        padding: 2rem;
        grid-template-columns: repeat(1, 1fr);
    }
}

/* animations */

.aos.fadeIn {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fadeIn.ed {
    opacity: 1;
}
